<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee-Mapper">
	<sql id="search">
		<if test="searchType == 'i'.toString()">
			where eid like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'n'.toString()">
			where name like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'p'.toString()">
			where phone like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'e'.toString()">
			where email like '%'||#{keyword}||'%'
		</if>
	</sql>
	<select id="selectSearchEmployeeList" parameterType="pageMaker" resultType="employee">
		select *
		from employee
		<include refid="search" />
		order by joid_date desc
	</select>
	<select id="selectSearchEmployeeListCount" parameterType="pageMaker" resultType="int">
		select count(*)
		from employee
		<include refid="search" />
	</select>
	<select id="selectEmployeeList" resultType="employee">
		select *
		from employee
		order by joid_date desc
	</select>
	<select id="selectEmployeeByEid" parameterType="str" resultType="employee">
		select *
		from employee
		where eid=#{eid}
	</select>

	<select id="selectEmployeeAuthoritiesByEid" resultType="str">
		select
		ad.role
		from employee e, authority_employee ae, authority_detail ad
		where e.eid = ae.eid and ae.role = ad.role and e.eid = #{eid}
	</select>
	<insert id="insertEmployeeAuthorities">
		insert into authority(eid,role)
		values
		(#{eid},#{authority})
	</insert>
	<delete id="deleteAllAuthorityByEid">
		delete
		from authority_employee
		where eid=#{eid}
	</delete>


	<insert id="insertEmployee" parameterType="employee">
		insert into
		employee(eid, pwd, name, phone, email, birth, department, position, joid_date, picture)
		values(#{eid}, #{pwd}, #{name}, #{phone}, #{email}, #{birth}, #{department}, #{position}, #{joid_date}, #{picture})
		
	</insert>
	<update id="updateEmployee" parameterType="employee">
		update employee
		set pwd=#{pwd},phone=#{phone},email=#{email}, birth=#{birth}, department=#{department}, position=#{position}, picture=#{picture}
		where eid=#{eid}
	</update>
	<delete id="deleteEmployee" parameterType="str">
		delete
		from employee
		where eid=#{eid}
	</delete>
	<select id="getEmployeeByEid" parameterType="pageMaker" resultType="employee">
		select *
		from employee
		where eid = #{eid}
	</select>

</mapper>