<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">

	<sql id="search">
		<if test="searchType == 'i'.toString()">
			where mid like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'n'.toString()">
			where and name like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'p'.toString()">
			where and phone like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'e'.toString()">
			where and email like '%'||#{keyword}||'%'
		</if>
	</sql>

	<select id="selectSearchMemberList" parameterType="pageMaker" resultType="member">
		select *
		from member
		<include refid="search" />
		order by regDate desc	
	</select>
	
	<select id="selectSearchMemberListCount" parameterType="pageMaker" resultType="int">
		select count(*)
		from member
		<include refid="search" />
	</select>

	<select id="selectMemberList" resultType="member">
		select *
		from member
	</select>

	<select id="selectMemberByMid" parameterType="str" resultType="member">
		select *
		from member
		where mid = #{mid}
	</select>
	
	<select id="getMemberByMid" parameterType="string" resultType="member">
        select *
        from member
        where mid = #{mid}
    </select>

	<insert id="insertMember" parameterType="member">
		insert into
		member(mid, pwd, name, birth, sex, picture, phone, address, email)
		values(#{mid}, #{pwd}, #{name}, #{birth}, #{sex}, #{picture}, #{phone}, #{address}, #{email})
	</insert>

	<update id="updateMember" parameterType="member">
		update member
		set pwd = #{pwd}, phone = #{phone} address = #{address}, email = #{email}
		where mid = #{mid}
	</update>

	<delete id="deleteMember" parameterType="str">
		delete
		from member
		where mid = #{mid}
	</delete>
	
	<select id="selectMemberSeqNext" resultType="int">
		select member_seq.nextval as mid from dual	
	</select>
	

</mapper>