<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Receive-Mapper">
  	<sql id="search">
  		<if test="searchType == 'rc' ">
  			and rcno like '%' ||#{keyword}||'%'
  		</if>
  		<if test="searchType == 'ac' "> 
  			and aid like '%' ||#{keyword}||'%'
  		</if>
  		<if test="searchType == 's' ">
  			and spot like '%' ||#{keyword}||'%'
  		</if>
  	</sql>
  	
  	<select id="SelectSearchReceiveList" parameterType="pageMaker" resultType="Receive">
	  	select *
	  	from receive
	  	<include refid="search" />
	  	order by receive_Date desc
  	</select>
  	
  	<select id="selectSearchReceiveListCount" parameterType="pageMaker" resultType="int">
  		select count(*)
  		from receive
  		<include refid="search" />
  	</select>
  	
  	<select id="selectReceiveByRcno" parameterType="int" resultType="receive">
  		select *
  		from receive
  		where rcno=#{rcno}
  	</select>
  	
  	<insert id="insertReceive" parameterType="receive">
	    insert into receive(rcno, spot, picture, cantername, regdate, breed, kind, gender, aid, eid)
	    values
	    (#{rcno}, #{spot}, #{picture}, #{cantername}, SYSDATE, #{breed}, #{kind}, #{gender}, #{aid}, #{eid})
	</insert>
	
  	<update id="updateReceive" parameterType="receive">
  		update receive
  		set
  		spot=#{spot}, picture=#{picture}, cantername=#{cantername}, regdate=sysdate, eid=#{eid}
  		where rcno=#{rcno}
  	</update>

  	<delete id="deleteReceive" parameterType="str">
  		delete
  		from receive
  		where rcno=#{rcno}
  	</delete>
  	
  	<select id="selectReceiveSeqNext" resultType="int">
  		select receive_seq.nextval as rcno from dual
  	</select>
  	
  	<select id="selectReceiveByAid" parameterType="long" resultType="receive">
  	select *
  	from receive
  	where aid = #{aid}
	</select>
	
	<insert id="insertReceiveInAnimalCare" parameterType="receive">
  		insert into receive(rcno, breed, kind, gender, aid, receive_date)
  		values (#{rcno}, #{breed}, #{kind}, #{gender}, #{aid}, sysdate)
  	</insert>
  	
  	<select id="selectRcnoByAid" parameterType="long" resultType="int">
  		select rcno
  		from receive
  		where aid=#{aid}
  	</select>
  	<update id="updateReceiveInAnimalCare" parameterType="receive">
  		update receive
  		set breed=#{breed}, kind=#{kind}, gender=#{gender}, aid=#{aid}
  		where rcno=#{rcno}
  	</update>
	
  </mapper>