@charset "UTF-8";

div.content-wrapper{
	width: calc(100% - 240px);
	height: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
}
div.content-title{
	width: 100%;
	height:100px;
	margin: 10px 0;
	border-bottom: solid 1px #E6E6E6;
	text-align: left;
	display: flex;
	align-items: center;
}
div.content-body{
	width: 100%;
	height: 100%;
	margin: 10px auto;
	padding: 30px;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid 1px #E6E6E6;
}