@charset "UTF-8";

div.type-top, div.type-bottom{
	width: 100%;
	height: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
div.type-card{
	width: 500px;
	height: 250px;
	margin: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: solid 1px #E6E6E6;
	border-radius: 5px;
}
div.type-card ul{
	width: 50%;
	height: 100%;
	padding: 40px 20px 40px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
div.type-card li.type-title{
	padding: 10px 0 ;
	text-align: left;
	font-size: 20px;
}
div.type-card li.type-content{
	text-align: left;
	font-size: 15px;
	font-family: NanumSquare_ac;
}


div.type-link{
	width: 50%;
	height: 100%;
	padding: 30px 5px 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 144px;
}

div.type-link div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
}
div.type-link div img{
	width: 40px;
	height: 40px;
}
div.type-link i{
	text-align: left;
	font-size: 18px;
	font-family: NanumSquare_ac;
}

/* animal-list */
div.select-wrapper{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px #E6E6E6;
}
div.animal-select{
	width: 100%;	
	gap: 20px;
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
div.animal-select-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	letter-spacing: 0em;
	color: #4E4E4E;
}
div.animal-select-wrapper p{
	margin-right: 10px;
	font-family: NanumSquare_ac ExtraBold ;
}

div.animal-select-wrapper select{	
	width: 7.63rem;
	height: 2.56rem;
	font-family: NanumSquare_ac ExtraBold;
}

/* animal-detail */
/* animal-profile */
div.animal-profile{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.animal-image-profile {
	width: 34.38rem;
	height: 23.13rem;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.animal-profile div.animal-profile-image{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

div.imglist-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.imglist-wrapper button{
	width: 50px;
	height: 50px;	
	margin: 10px;
	background-color: white;
	border: none;
	display: flex;
	align-items: center;
}

div.imglist-wrapper button img{
	width: 100%;
	height: 100%;	
	margin: 0;
}

div.imglist-wrapper img{
	width: 80px;
	height: 80px;	
	margin: 10px;
}

div.buttons-wrapper{
    height: 40px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: flex-end;
}

div.buttons-wrapper button{
	width: 7.06rem;
	margin-left: 10px;
    padding: 0 5px;
    color: white;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
}
div.animalImg{
	width: 80px;
	height: 80px;	
	margin: 10px;
	background-size: 100% 100%;
}

