@charset "UTF-8";

body {
    font-family: NanumSquare_ac ExtraBold;
	margin: 0;
	padding: 0;
}

.join-container {
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid #555;
	border-radius: 10px;
}

.join-container h1 {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 10px;
}

.join-container span {
	color: red;
	font-weight: bold;
}

.join-container form .form-group {
	margin-bottom: 15px;
}

.join-container form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.join-container form input[type="text"], .join-container form input[type="password"],
	.join-container form input[type="email"], .join-container form input[type="date"],
	.join-container form textarea {
	width: 100%;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
	width: 95.5%;
}

.join-container form input[type="radio"], .join-container form input[type="checkbox"]
	{
	margin-right: 5px;
}
/* 관심 있는 동물 섹션 스타일 */
.interest-container {
	border: 1px solid #ccc;
    border-radius: 5px; /* 둥근 테두리 */
    padding: 15px; /* 내부 여백 */
    margin: 15px 0; /* 위아래 간격 */
    width: 91%;
}

.interest-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.interest-container .description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    display: block;
    font-weight: normal;
}

.interest-container .interest-options {
    display: flex;
    gap: 15px; /* 체크박스 간 간격 조정 */
}


.join-container form button {
	display: flex;
	justify-content: center;
	background-color: #888;
	width: 100%;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 15px;
	width: 98%;
}

.join-container form button:hover {
	background-color: #666;
}

.logo {
	width: 20px;
	height: auto;
}