@charset "UTF-8";

.info-box {
	width: 100%;
	height: 100%;
	margin: 10px auto;
	padding: 18px;
	display: flex;
	justify-content: center;
	border: solid 1px #E6E6E6;
	font-family: NanumSquare_ac;
 }
.info-box img{
	width: 18px;
	height: auto;
	margin-right: 6px;
}
.content {
	position: relative; /* 버튼 위치를 이미지 위로 설정하기 위한 부모 요소 설정 */
	display: inline-block; /* 자식 요소와 크기를 맞추기 위해 사용 */
}

.content img {
	max-width: 100%; /* 이미지가 화면 너비를 넘지 않도록 */
	height: auto; /* 비율 유지 */
}

.button-container {
	position: absolute; /* 이미지 위로 버튼을 배치 */
	bottom: -62%;
    left: 55%;
	transform: translateX(-50%); /* 중앙 정렬을 위한 트릭 */
	
}

.button-container a {
    display: inline-block;
    text-decoration: none;
    background-color: #f68b1e;
    color: #fff;
    padding: 17px 26px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: NanumSquare_ac;
}

.button-container a:hover {
	background-color: #e67e22; /* 버튼 호버 효과 */
}