@charset "UTF-8";

	section .inner_cent{
	   width: calc(100% - 240px);
	   border-bottom: 1px solid #ddd;
	   padding-top: 0px;
	   margin: 0 auto;
	   overflow: hidden;
	   display: flex;
	   flex-direction: row;
}

	div.sidebar{
		width:200px;
		height: auto;
		padding: 50px 0;
		margin-right: 20px;
		background-color: white;
		border-radius: 10px;
	}
 	div.sidebar h1{ 
 		margin: 0 10px;
 		padding: 0 10px;
		text-align: left;
		font-size: 20px;
	}
	div.sideMenu{
		width: 90%;
		margin: 0 auto;
		padding: 10px;
	}
	div ul.sideMenu{
		list-style-type: none;
	}
	div ul.lists{
		width: 100%;
	}
	div li.title{
		padding: 10px 0 10px 0;
		border-bottom: solid 1px #E6E6E6;
		font-size: 17px;
		background-color: white;
		list-style-type: none;
	}
	div li.list{
		padding: 10px 0 10px 0;
		border-bottom: solid 1px #E6E6E6;
		color: #191919;
		font-size: 15px;
		list-style-type: none;
	}
	div li.list a{
		font-size: medium;
		font-family: NanumSquare_ac;
	}
	div li.list:hover{
		font-size: 17px;
		background-color: white;
	}