@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NanumSquare_ac;
}
/* Main Content */
.main-content {
    display: flex;
    gap: 20px;
}

.main-container {
    background-color: white;
 	border-bottom: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 2% 3%;
}

.approval_button{
	display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6600;;
    border: none;
    border-radius: 5px;
    margin-left: 80%;
    transition: background-color 0.3s ease;
}
.approval_button:hover {
    background-color: #FF3300;
}
.refusal_button{
	display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6600;;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
    transition: background-color 0.3s ease;
}
.refusal_button:hover {
    background-color: #FF3300;
}
.refresh-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}
.st-button-container {
    display: flex;
    justify-content: right;
    width: 70%;
}

.st-list-button-container {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

/* Search Bar */
.search-bar {
    display: flex;
    gap: 17px; /* 요소 간 간격 */
    margin-bottom: 20px;
}

.regi_button{
	display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6600;;
    border: none;
    border-radius: 5px;
    margin-left: 88%;
    transition: background-color 0.3s ease;
}
.regi_button:hover {
    background-color: #FF3300;
}
.refresh-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.ineer_sort_select{
	padding: 10px 20px;

}
.sort-select, .search-input, .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.sort-select {
	padding: 5px 20px;	
}


.search-button {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding:11px;
}

.search-button:hover {
    background-color: #555;
}

.back_group{
	display: flex;
	align-items: end;
	padding-bottom: 2%;
}
.middle{
	padding: 0 6%;
}

.inner_container{
	padding:40px;
	border: 1px solid #c6c6c6;
    border-radius: 10px;
}
.image-container"{
	 display: flex;
}


/* 버튼 정렬 */
.button-container {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.st-button-container {
    display: flex;
    justify-content: right;
    width: 70%;
}

.st-list-button-container {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

/* main_inner_container */
.main-content {
    display: flex;
    gap: 20px;
}

.ineerWrapper{
	padding: 20px 0;
}
.small_container{
	display: flex; /* 가로 배치 */
	align-items: flex-start; /* 상단 정렬 */
	gap: 20px; /* 이미지와 표 사이 간격 */
}
.small_container img {
    width: 322px;
    height: 320px;
    margin-top: 21%;
}
.img {
    margin: 10px !important;
    width: 40% !important;
}
.state_table {
	width: 28%;
    margin-left: 72%;
}
.centercell {
	color: #ffffff;
    background-color: #605F5F;
    width: 52%;
}
.leftcell {
	background-color: #ffffff; /* 흰색 배경 */
	text-align: left;
	width: 85%;
}
.input_left {
	border-style: none;
	width: 70%;
}
.table {
    width: 100%;
    margin-top: 20px;
   
}
.table_2 {
    width: 100%;
}
.td, input_form{
	border: none;
	text-align: left;
	border: none;
	text-align: left;
	border: 1px solid #c6c6c6;
	width: 100px;
}
.table th, .table td {
    border: 1px solid #ddd;
    font-size: 14px;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table td {
    color: #666;
}

.table td, .table th{
	vertical-align: middle;
}

table.table td.middle{
	padding-left: 20px;
}

/* basic-table */

.td_inner{
	text-align: left;
}
table.table td.basic-title{
	background-color: #f4f4f4;
}
.td input_length{
	width:10%;
}

/* table-input */
input.table-input-text{
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
}
input.table-input-date{
	border: none;
	outline: none;
}

input.table-input-radio{
	margin: 0 10px;
}
input.table-input-checkbox{
	margin: 0 10px;
}

table.table td.injection-num{
   padding-left: 20px;
}

table.table td.injection-num p,label{
   margin: 0 20px;
   display: inline-flex;
   flex-direction: row;
   align-items:flex-start;
   float: left;
}

table.table td.injection-num p{
   width: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

.center_cell {
  background-color: #f0f0f0; /* 회색 배경 */
  text-align: center;       /* 가운데 정렬 */
}

.left_cell {
  background-color: #ffffff; /* 흰색 배경 */
  text-align: left;          /* 왼쪽 정렬 */
}
