@charset "UTF-8";

/* Main Content */
.main-content {
    display: flex;
    gap: 20px;
}

.ineerWrapper{
	padding: 20px 0;
}

/* Search Container */
.search-container {
    background-color: white;
 	border-bottom: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 40px ;
}

/* Detail Table */
.detail-table {
	width: 100%;
	border-collapse: collapse;
}

.detail-table th, .detail-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.detail-table th {
	background-color: #f4f4f4;
	font-weight: bold;
	font-size: 25px;
	display: flex;
	align-items: center;
	width: 100%;
}

/* 버튼 정렬 */
.button-container {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.st-button-container {
    display: flex;
    justify-content: right;
    width: 70%;
}

.st-list-button-container {
    display: flex;
    justify-content: right;
    width: 93%;
}