@charset "UTF-8";

/* Main Content */
.main-content {
    display: flex;
    gap: 20px;
}

.ineerWrapper{
	padding: 20px 0;
}

/* Search Container */
.search-container {
    background-color: white;
 	border-bottom: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 40px ;
}

/* Search Bar */
.search-bar {
    display: flex;
    gap: 17px; /* 요소 간 간격 */
    margin-bottom: 20px;
}

.regi_button{
	display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6600;;
    border: none;
    border-radius: 5px;
    margin-right: 54%;
    transition: background-color 0.3s ease;
}
.regi_button:hover {
    background-color: #FF3300;
}
.refresh-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.ineer_sort_select{
	padding: 10px 20px;

}
.sort-select, .search-input, .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.sort-select {
	padding:12px;
}

.search-button {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding:11px;
}

.search-button:hover {
    background-color: #555;
}
/* Member Table */
.member-table {
    width: 100%;
    border-collapse: collapse;
}

.member-table th, .member-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.member-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.member-table td {
    color: #666;
} 