@charset "UTF-8";
/* 전체 form을 가운데 정렬 */
.form {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    margin: 20px auto; /* 양옆 여백 자동 */
    width: 100%; /* form 너비 (조정 가능) */
    max-width: 700px; /* 최대 너비 */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 각 입력 필드와 레이블 정렬 */
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%; /* 입력 필드와 레이블의 너비 */
    margin-bottom: 3px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* 입력 필드가 레이블과 동일한 너비 */
}

/* Detail Table */
.detail-table {
	width: 100%;
	border-collapse: collapse;
}

.detail-table th, .detail-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.detail-table th {
	background-color: #f4f4f4;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	align-items: center;
	width: 100%;
}

/* 버튼 정렬 */
.button-container {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.st-button-container {
    display: flex;
    justify-content: right;
    width: 75%;
}

.st-list-button-container {
    display: flex;
    justify-content: right;
    width: 93%;
}

/* Footer */
.footer {
    background-color: #353535;
    color: white;
    padding: 20px 20px;
    text-align: left;
}

.footer p {
    margin: 0;
}