/* General Styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.header .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: NanumSquare_ac;
}

body.body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f9;
   color: #333;
}
/* Header */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #353535;
   color: white;
}

.header .logo {
   display: flex;
   max-width: 1200px;
   align-items: center;
}

.header .logo img {
   height: 40px;
   margin-left: 20px;
   margin-right: 5px;
}

.header .logout a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   margin-right: 20px;
}

.wrapper {
   max-width: 1500px;
   margin: 0 auto;
   padding: 20px;
}

/* Navigation */
.main_menu {
   background-color: white;
   border-bottom: 1px solid #C6C6C6;
   padding: 15px 0;
   border-radius: 10px;
}

.main_menu ul {
   margin: 0;
   display: flex;
   justify-content: space-around;
   list-style: none;
}

.main_menu ul li a {
   text-decoration: none;
   color: #474747;
   font-weight: bold;
   padding: 5px 10px;
   transition: color 0.3s;
   font-size: 20px;
}

.main_menu ul li a:hover {
   color: #ff6600;
}

/* Notice */
.notice {
   margin-top: 20px;
   background-color: #4A4A4A;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
}

/* Main Content */
.main-content {
   display: flex;
   gap: 20px;
}

/* Search Bar */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.regist-btn{
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
   justify-content: flex-start;
}

.regist-btn:hover {
    background-color: #FF3300;
}

.refresh-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.sort-select, .search-input, .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: NanumSquare_ac;
    margin: 5px;
}

.search-input {
    width: 250px; /* 입력 필드의 너비 */
}

.search-button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #555;
}


/* Member Table */
.member-table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 2%;
}

.member-table th, .member-table td {
   border: 1px solid #ddd;
   padding: 10px;
   text-align: center;
   font-size: 14px;
}

.member-table th {
   background-color: #f4f4f4;
   font-weight: bold;
}

.member-table td a {
   text-decoration: none;
   color: inherit;
}

.left-section, .right-section {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.card {
   background: white;
   border-radius: 10px;
   padding: 45px;
   border: 1px solid #c6c6c6;
}

.card h3 {
   margin-bottom: 10px;
   font-size: 18px;
   color: #555;
}

.card ul {
   list-style: none;
}

.card ul li {
   margin-bottom: 5px;
   font-size: 14px;
}

/* Stats Grid */
.stats-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

.stats-grid div {
   text-align: center;
   background: #f4f4f9;
   padding: 10px;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.stats-grid div:hover {
   background-color: #ddd;
}

.stats-grid div span {
   font-size: 12px;
   color: #777;
}

.stats-grid div p {
   font-size: 16px;
   font-weight: bold;
   margin-top: 5px;
}

/* Footer */
.footer {
   background-color: #353535;
   color: white;
   padding: 20px 20px;
   text-align: left;
}

.footer p {
   margin: 0;
}

div.innerWrapper {
   width: 100%;
   height: auto;
   padding: 20px 0;
   display: inline-flex;
   flex-direction: row;
}

div.sidebar {
   width: 200px;
   height: auto;
   padding: 50px 0;
   margin-right: 20px;
   background-color: white;
   border-radius: 10px;
   border-bottom: 1px solid #C6C6C6;
}

div.sidebar h1 {
   text-align: center;
   font-size: 20px;
}

div.sideMenu {
   width: 90%;
   margin: 0 auto;
   padding: 10px;
}

div ul.sideMenu {
   list-style-type: none;
}

div ul.lists {
   width: 100%;
}

div li.title {
   padding: 10px 0 10px 0;
   border-bottom: solid 1px;
   font-size: 17px;
   background-color: white;
   list-style-type: none;
}

div li.list {
   padding: 10px 0 10px 0;
   border-bottom: solid 1px;
   font-size: 15px;
   list-style-type: none;
}

div li.list a{
   text-decoration: none;
   color: #191919;
}

div li.list:hover {
   font-size: 17px;
}

ul.nav {
   width: 100%;
   padding: 0;
}

ul.nav-sidebar {
   margin: 50px 0;
}

li.responsible {
   width: 90%;
   margin: 0 auto;
   background-color: white;
}

a.responsible-header {
   background-color: #707070;
}

a.responsible-header p {
   border-radius: 0 0 5px 5px;
   color: white;
}

li.responsible-list {
   border-bottom: solid 1px;
}

a.responsible-name {
   width: 50%;
   height: 150px;
   float: left;
   display: flex;
   align-items: center;
   color: black;
}

a.responsible-list b {
   color: black;
}

div.responsible-buttons button {
   width: 50%;
   height: 30px;
   margin: 10px auto;
   border-radius: 5px;
   background-color: #4A4A4A;
}

div.responsible-buttons button p {
   align-items: center;
   color: white;
}

div.content {
   width: 100%;
   float: right;
   padding: 30px;
   border-bottom: 1px solid #C6C6C6;
   border-radius: 10px;
   background-color: white;
}

 div.date{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   div.date-select{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   input.date-input{
      border: none;
   }
